
body {
    background-image: linear-gradient(to bottom, #FF0000, #00FF00);
}

h1 {
    font-size: 32px;
    color: white;
    border: 1px solid green;
    border: 15px solid green;
    padding: 10px;
    margin: 20px;
}
footer { 
    text-align: center;
}
p {
    font-size: 18px;
    color: white;
    background-color: darkGreen;
    border: 1px solid green;
    border: 15px solid green;
}

h3 {
    text-align: center;
    font-size: 26;
    color: white;
    background-color: darkRed;
    border: 1px solid red;
    border: 15px solid red;
}
  img {
    width: 60%;
    height: auto;
    
  }

@media (min-width: 600px) {
  p {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

}